{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11,
          "android": 4
        },
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "dom", // default pragma is React.createElement
        "pragmaFrag": "DomFrag", // default is React.Fragment
        "throwIfNamespace": false // defaults to true
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-proposal-class-properties", "@babel/plugin-transform-async-to-generator", "@babel/plugin-transform-exponentiation-operator","@babel/plugin-transform-react-jsx"]
}
